/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1000px;
    margin: 0 auto;
}
html{
    font-family: Whitney, Arial, Helvetica, sans-serif;
}
/* Common */
.container-flex{
    display:flex;
    justify-content: space-between;
    color: white;
}
#logo{
    width: 5em;
    background-size: cover;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
}
ul{
    width: 60%;
    list-style-type: none;
}
.flex{
    display:flex;
    justify-content: space-evenly;
}
.btn-2{
    padding: .5em;
    font-size: 12px;
    color:black;
    background-color: white;
    border-radius: 12px;
    border-style: none;
}
.btn{
    margin: 2em;
    padding: 10px;
    border-style: none;
    border-radius: 12px;
}
/* Nav */
nav{
    padding: 1em;
    background-color: #255EE9;
}
.container{
    width: 80%;
    margin: auto;

}

/* BANNER */
.background-banner{
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 300px; */
}
.banner-text{
    text-align: center;
    color: white;
    width: 60%;
    height: 250px;
    /* background-color: palevioletred; */
}
.banner-text h2{
    padding: 1em;
}
.btn-b{
    color: white;
    background-color: black;
}
/* MAIN */

.row-inline{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 300px; */
}
.blu-square{
    width: 50%;
    height: 400px;
}
.pink-square{
    padding-top: 1em;
    padding-right: 5em;
    text-align: start;
    width: 30%;
    height: 400px;
}
.pink-square h2{
    padding: 1em 0;
}
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color: lightgrey;
}
/* IMAGE */
.image1{
    background-size: contain;
    background-image: url("../img/item1.svg");
    background-repeat: no-repeat;
}
.image2{
    background-size: contain;
    background-image: url("../img/item2.svg");
    background-repeat: no-repeat;
}
.image3{
    background-size: contain;
    background-image: url("../img/item3.svg");
    background-repeat: no-repeat;
}

/* LAST SECTION */
.container-test{
    width: 80%;
    margin: 0 auto;
    min-height: 500px;
}
.test-text h2{
    padding-bottom: 1em;
}
.test-text{
    padding: 1.5em;
    text-align: center;
}
.img-test{
    background-image: url("../img/item4-big.svg");
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.test-text2{
    margin: 2em 15em;
}
.test-text2 h3{
    background-image: url("../img/stars.svg");
    height: 3em;

}
.btn-blue{
    padding: .6em;
    margin: 2em 6em;
    border-radius: 12px;
    color: white;
    background-color:#7289DA;
    border-style: none;

}

/* Footer */
.black-container{
    border-bottom: 1px white;
    padding: 1em 0;
    /* debug */
    background-color: #23272A;
}
.footer-social{
    padding: ;
    width: 30%;
    /* debug */
    min-height: 300px;
}
.footer-social h3{
    color: #6E87D7;
    padding: 1em;
}
#flag{
    height: 10px;
}
.footer-menu{
    padding: 1em;
    width:calc(70% / 4);
}
.flex2{
    display: flex;
}
.footer{
    margin-top: 1em;
    justify-content: space-between;
}
.footer-menu li{
    color: white;
    font-size: 0.8em;
    padding: 0.5em 0;
}
.footer-menu h5{
    color: #6E87D7;
}

/* TEST ZONE */
    /* .last-section{
        text-align: center;
        margin: 2em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 500px;
        background-color: lightgray;
    }
    
    .green-square{
        background-image: url("../img/item4-big.svg");
        background-position: center;
        background-size: cover;
        width: 80%;
        min-height: 400px; 
    } */
